body {
    margin: 10% 30%;
    text-align: center;
    padding: 100px 50px;
    border-radius: 25px;
    border: solid 10px black;
    background-color: blue;
}

#carta {
    /* height: 500px; */
    /* width: 280px; */
    font-size: 80px;
}

#alterar {
    font-size: 50rem;
}